/*------------------------------------------------------------------
[1. Portfolio]
*/

.portfolio_filter .titlecontainer{text-align:center;}
.nvr-pf-container{margin-bottom:20px}
.nvr-pf-container li{
	position:relative; 
}
.nvr-pf-container .columns{padding-left:7px; padding-right:7px;}
.nvr-pf-container .first, .nvr-pf-container .alpha{clear:both;}
.nvr-pf-clear{clear:both; height:0px !important; float:none!important}
.nvr-pf-box{
	transition: background-color ease-out 0.25s, border ease-out 0.25s;
	-moz-transition: background-color ease-out 0.25s, border ease-out 0.25s;
	-webkit-transition: background-color ease-out 0.25s, border ease-out 0.25s;
	-o-transition: background-color ease-out 0.25s, border ease-out 0.25s;
}
.nvr-pf-text{padding:13px 0px 0px; text-align:left; border-width:0px 1px 1px; border-style:solid;}
.nvr-pf-text .nvr-pf-title{font-size:18px;font-weight:700; line-height:22px;margin:0px; padding:0px 0px 2px 0px; display:block;}
.nvr-pf-text .nvr-pf-title a{
	transition: color ease-out 0.25s;
	-moz-transition: color ease-out 0.25s;
	-webkit-transition: color ease-out 0.25s;
	-o-transition: color ease-out 0.25s;
}
.nvr-pf-text .nvr-pf-cat{margin-bottom:24px; font-size:14px; font-weight:700;}
.nvr-pf-container .classic .nvr-pf-title{text-align:center;}
.nvr-pf-container .classic .nvr-pf-cat{text-align:center;}

.nvr-pf-text p{margin:12px 0px;}
.nvr-pf-separator{clear:both; height:2px; width:57px; display:none;}
.nvr-pf-text .nvr-pf-content{ display:none;}
.nvr-pf-img{position:relative;overflow:hidden;}
.nvr-pf-img img{
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
.nvr-pf-box:hover .nvr-pf-img img{opacity:0.1;}
.nvr-pf-img::before {
	opacity:0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	content: '';
}
.nvr-pf-box:hover .nvr-pf-img::before{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.nvr-noimage{display:block;width:100%;height:199px; background-image:url(../images/noimage.png); background-repeat:no-repeat; background-position:center;}
.nvr-pf-img a.image, div.frameimg a.image{
	display:block;
	position:absolute;
	overflow:hidden;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	background-repeat:no-repeat;
	background-position:center;
	top:50%;
	left:50%;
	width:59px;
	height:59px;
	margin-top:-30px;
	cursor:pointer;
	font-size:20px;
	line-height:59px;
	text-align:center;
	text-transform:uppercase;
	z-index:200;
	opacity:0;
	-moz-transform:scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, transform 0.35s;
}
.nvr-pf-img a.image:before, div.frameimg a.image:before{font-family:'FontAwesome';}
.nvr-pf-img a.gotolink:before, div.frameimg a.gotolink:before{content:"\f08e";}
.nvr-pf-img a.gotopost:before, div.frameimg a.gotopost:before{content:"\f06e";}
.nvr-pf-img a.zoom:before, div.frameimg a.zoom:before{content:"\f067";}

.nvr-pf-img a.zoom, div.frameimg a.zoom{
	margin-left:-68px;
}
.nvr-pf-img a.gotolink, div.frameimg a.gotolink{
	margin-left:5px;
}
.nvr-pf-img a.gotopost, div.frameimg a.gotopost{
	margin-left:5px;
}

.nvr-pf-container li .nvr-pf-box:hover .nvr-pf-img a.image, .flexslider-carousel li .nvr-pf-box:hover .nvr-pf-img a.image, div.frameimg:hover a.image{
	opacity:0.9;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.nvr-pf-img .img_grayscale{
	-moz-box-shadow: inset 0 0 10px -1px #000;
	-webkit-box-shadow: inset 0 0 10px -1px #000;
	box-shadow: inset 0 0 10px -1px #000;
}
.pf-clear{clear:both; visibility:hidden; margin:0px !important;}
.nvr-pf-img h2{
	position:absolute;
	bottom:30px;
	z-index:200;
	width:0%;
	font-weight:bold;
	text-align:center; 
	margin:0px;
	overflow:hidden;
	white-space:nowrap;
	line-height:100%;
	padding:7px 0px 8px;
	letter-spacing:-1px;
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 1px 4px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 1px 4px rgba(0, 0, 0, 0.75);
}
.nvr-pf-col-2, .nvr-pf-col-3, .nvr-pf-col-4, .nvr-pf-col-5{padding:0; margin:0;}
.nvr-pf-col-2 li, .nvr-pf-col-3 li, .nvr-pf-col-4 li, .nvr-pf-col-5 li{list-style-type:none;}
.nvr-pf-col-2 .nvr-pf-img img, .nvr-pf-col-3 .nvr-pf-img img, .nvr-pf-col-4 .nvr-pf-img img, .nvr-pf-col-5 .nvr-pf-img img{display:block;}

/*======= Portfolio 2 Column =======*/
.nvr-pf-col-2 li{margin-bottom:33px;}

/*======= Portfolio 3 Column =======*/
.nvr-pf-col-3 li{margin-bottom:31px;}
.nvr-pf-col-3 h2{}

/*======= Portfolio 4 Column =======*/
.nvr-pf-col-4 li{margin-bottom:28px;}
.nvr-pf-col-4 h2 a{}

/*======= Portfolio 5 Column =======*/
.nvr-pf-col-5 li{margin-bottom:35px;}
.nvr-pf-col-5 h2 a{}

.nvr-pf-container .classic .nvr-pf-text .nvr-pf-cat{margin-bottom:24px;}

.nvr-pf-container .masonry .columns{margin-bottom:14px;}
.nvr1100more .nvr-pf-container .masonry .columns{margin-bottom:14px;}
.nvr-pf-container .masonry.nospace .columns{padding:1px !important; margin:0px !important;}
.nvr-pf-container .masonry .nvr-pf-box{border:0px !important; position:relative; overflow:hidden;}
.nvr-pf-container .masonry .nvr-pf-img::before {
	opacity:0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}
.nvr-pf-container .masonry .nvr-pf-box:hover .nvr-pf-img::before{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.nvr-pf-container .masonry .nvr-pf-img img{
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}
.nvr-pf-container .masonry .nvr-pf-box:hover .nvr-pf-img img{
	opacity: 0.1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.nvr-pf-container .masonry .nvr-pf-img a.image, .nvr-pf-container .masonry div.frameimg a.image{
	margin-top:0px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}
.nvr-pf-container .masonry .nvr-pf-text{
	position:absolute; 
	bottom:50%; 
	width:100%; 
	left:0px; 
	z-index:201; 
	border-width:0px;
	margin-bottom:0px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	opacity:0;
	transition: opacity ease-out 0.25s;
	-moz-transition: opacity ease-out 0.25s;
	-webkit-transition: opacity ease-out 0.25s;
	-o-transition: opacity ease-out 0.25s;
}
.nvr-pf-container .masonry .nvr-pf-box:hover .nvr-pf-text{opacity:1;}
.nvr-pf-container .masonry .nvr-pf-title{ padding-bottom:8px; font-size:18px; font-weight:500; text-align:center;}
.nvr-pf-container .masonry .nvr-pf-cat{text-align:center; font-size:14px; text-transform:none; font-weight:500; margin-bottom:13px;}
.nvr-pf-container .masonry .nvr-pf-content{display:none;}
.nvr-pf-container .masonry .nvr-pf-separator{display:block; margin:0px auto 20px;}

.nvr-pf-container .grid .columns{margin-bottom:14px;}
.nvr1100more .nvr-pf-container .grid .columns{margin-bottom:14px;}
.nvr-pf-container .grid.nospace .columns{padding:1px !important; margin:0px !important;}
.nvr-pf-container .grid .nvr-pf-box{border:0px !important; position:relative; overflow:hidden;}
.nvr-pf-container .grid .nvr-pf-img::before {
	opacity:0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}
.nvr-pf-container .grid .nvr-pf-box:hover .nvr-pf-img::before{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.nvr-pf-container .grid .nvr-pf-img img{
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}
.nvr-pf-container .grid .nvr-pf-box:hover .nvr-pf-img img{
	opacity: 0.1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.nvr-pf-container .grid .nvr-pf-img a.image, .nvr-pf-container .grid div.frameimg a.image{
	margin-top:0px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

.nvr-pf-container .grid .nvr-pf-text{
	position:absolute; 
	bottom:50%; 
	width:100%;
	border-width:0px; 
	left:0px; 
	z-index:201; 
	margin-bottom:0px;
	opacity:0;
	box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	transition: opacity ease-out 0.5s;
	-moz-transition: opacity ease-out 0.5s;
	-webkit-transition: opacity ease-out 0.5s;
	-o-transition: opacity ease-out 0.5s;
}
.nvr-pf-container .grid .nvr-pf-box:hover .nvr-pf-text{opacity:1}
.nvr-pf-container .grid .nvr-pf-title{ padding-bottom:8px; text-align:center; font-size:18px; font-weight:500;}
.nvr-pf-container .grid .nvr-pf-cat{text-align:center; margin-bottom:14px;}
.nvr-pf-container .grid .nvr-pf-content{display:none;}
.nvr-pf-container .grid .nvr-pf-separator{display:block; margin:0px auto 20px;}

/* PORTFOLIO FILTER */
#filters, .filterlist{margin:0 0 32px 0; padding:0px; border-bottom:0px solid; text-align:center;}
#filters li, .filterlist li{
	display:inline-block;
	list-style-type:none;
	background-position:center;
	background-repeat:no-repeat;
	margin:0px 3px 8px;
	padding:8px 12px;
	cursor:pointer;
	font-weight:500;
	font-size:12px;
	letter-spacing:1px;
	text-transform:uppercase;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.pcarousel .titlecontainer{border-top:2px solid #f3f3f3; text-align:center; margin:0px 36px 44px;}
.pcarousel .titlecontainer h3{margin:-19px 0px 0px; padding:0px; letter-spacing:2px; font-size:12px; line-height:12px; font-weight:700;}
.pcarousel .titlecontainer h3 span{ display:inline-block; padding:12px 53px; background-color:#f3f3f3; color:#000;}
#subbody .pcarousel.hastitle .flex-direction-nav{height:28px; width:100%; position:absolute; top:-74px; left:0px; padding:0px 10px; }
body.novaro.nvr1100more #subbody .pcarousel.hastitle .flex-direction-nav{padding:0px 15px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
#subbody .pcarousel.hastitle .flex-direction-nav a{width:20px; height:20px; margin-top:0px; font-size:14px; line-height:20px; position:static; display:block; opacity:1; float:right; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;}
#subbody .pcarousel.hastitle .flex-direction-nav a:hover{color:#000;}
#subbody .pcarousel.hastitle .flex-direction-nav a.flex-prev{float:left;}

.flexslider-carousel ul.slides li div.nvr-pf-box{padding: 10px; margin: 0px !important;}
.nvr1100more .flexslider-carousel ul.slides li div.nvr-pf-box{padding: 15px;}
div.pcarousel.nospace .flexslider-carousel ul.slides li div.nvr-pf-box{padding:1px;}

.flexslider-carousel ul.slides li img{}
.flexslider-carousel ul.slides .nvr-pf-box{border:0px !important; position:relative; overflow:hidden;}
.flexslider-carousel ul.slides .nvr-pf-img a.image, .flexslider-carousel ul.slides div.frameimg a.image{
	margin-top:10px;
}
.flexslider-carousel ul.slides .nvr-pf-text{
	position:absolute; 
	border:0px;
	bottom:50%; 
	opacity:0;
	width:100%; 
	left:0px; 
	z-index:201; 
	box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	transition: opacity ease-out 0.5s;
	-moz-transition: opacity ease-out 0.5s;
	-webkit-transition: opacity ease-out 0.5s;
	-o-transition: opacity ease-out 0.5s;
}
.flexslider-carousel ul.slides .nvr-pf-box:hover .nvr-pf-text{opacity:1;}
.flexslider-carousel ul.slides .nvr-pf-title{ padding-bottom:2px; font-size:14px; text-align:center;}
.flexslider-carousel ul.slides .nvr-pf-cat{text-align:center; font-size:12px;}
.flexslider-carousel ul.slides .nvr-pf-separator, .flexslider-carousel ul.slides .nvr-pf-content{display:none;}


.flexslider-carousel{position:relative; padding:0px 0px 0px 0px;}
.flexslider-carousel .flex-control-nav{bottom:0px; text-align:center;font-size:0px;display:none;}
.flexslider-carousel .flex-control-nav li{margin:0px 3px;}
.flexslider-carousel .flex-direction-nav a{
	width:20px;
	height:36px;
	z-index:100;
	opacity:0;
	top:85px;
	transition: opacity ease-out 0.25s;
	-moz-transition: opacity ease-out 0.25s;
	-webkit-transition: opacity ease-out 0.25s;
	-o-transition: opacity ease-out 0.25s;
}
.flexslider-carousel:hover a.flex-prev, .flexslider-carousel:hover a.flex-next{opacity:1;}
.flexslider-carousel .flex-direction-nav a.flex-prev{
	left:-23px;
}
.flexslider-carousel .flex-direction-nav a.flex-next{
	right:-23px;
}

/* portfolio */
.nvr-pf-img{
	background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
	background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
}
.nvr-pf-img::before{background-color:#fff;}
.nvr-pf-img a.image, div.frameimg a.image{ background-color:#000000; color:#fff;}
.nvr-pf-img a.image:hover, div.frameimg a.image:hover{background-color:#00afbc;}
.nvr-pf-img a .rollover, div.frameimg a .rollover{background-color:#fff;}
.nvr-pf-img .nvr-pf-title{background-color:#ffffff;}
.nvr-pf-text{border-color:#e7e7e7;}
.nvr-pf-text .nvr-pf-content{color:#999999;}
.nvr-pf-box:hover .nvr-pf-text .nvr-pf-title a{color:#00afbc !important;}

.nvr-pf-text .nvr-pf-cat a, .nvr-pf-text .nvr-pf-cat a:visited{color:#999999;}
.nvr-pf-text .nvr-pf-cat a:hover{color:#00afbc;}
.nvr-pf-container .masonry .nvr-pf-img div.rollover{background-color:#fff;}
.nvr-pf-container .grid .nvr-pf-box .nvr-pf-text h2 a, 
.nvr-pf-container .masonry .nvr-pf-box .nvr-pf-text h2 a{
	color:#000 !important;
}
.nvr-pf-container .grid .nvr-pf-box .nvr-pf-text h2 a:hover, 
.nvr-pf-container .masonry .nvr-pf-box .nvr-pf-text h2 a:hover{
	color:#00afbc !important;
}
.nvr-pf-container .grid .nvr-pf-cat, .nvr-pf-container .grid .nvr-pf-cat a,
.nvr-pf-container .masonry .nvr-pf-cat, .nvr-pf-container .masonry .nvr-pf-cat a{
	color:#bfbfbf;
}
.nvr-pf-container .grid .nvr-pf-cat a:hover, .nvr-pf-container .masonry .nvr-pf-cat a:hover{
	color:#000;
}
.nvr-pf-separator{background-color:#00afbc;}

/* portfolio filter */
#filters, .filterlist{border-color:#e4e4e4;}
#filters li, .filterlist li{

}
#filters li:hover, .filterlist li:hover, #filters li.selected, .filterlist li.selected{
	background-color:#00afbc;
}
#filters li a, .filterlist li a{
	color:#000;
}
#filters li:hover a, .filterlist li:hover a, #filters li.selected a, .filterlist li.selected a{
	color:#fff;
}

/*portfolio carousel*/
.flexslider-carousel h3, .flexslider-carousel h3 a, .flexslider-carousel h3 a:visited{color:#333;}
.flexslider-carousel h3 a:hover{color:#00afbc;}
.flexslider-carousel .nvr-pf-box .nvr-pf-text .nvr-pf-title a{color:#000 !important;}
.flexslider-carousel .nvr-pf-box .nvr-pf-text .nvr-pf-title a:hover{color:#00afbc !important;}
.flexslider-carousel .nvr-pf-cat, .flexslider-carousel .nvr-pf-cat a{color:#bfbfbf !important;}
.flexslider-carousel .nvr-pf-cat a:hover{color:#000 !important;}
.flexslider-carousel .nvr-pf-text{color:#555;}
.pcarousel .titlecontainer{border-color:#e4e4e4;}
#subbody .pcarousel.hastitle .flex-direction-nav a{border:2px solid #d7d7d7; background-color:#fff; color:#000;}
#subbody .pcarousel.hastitle .flex-direction-nav a:hover{background-color:#d7d7d7; color:#fff;}

@media only screen and (max-width:767px){
	/* Portfolio */
	.nvr-pf-container{max-width:547px !important; margin-right:auto !important; margin-left:auto !important;}
	#nvr-pf-filter{max-width:100%;}
	
	/* Portfolio filter */
	#filters{text-align:center;}
}